.app {
background-color: #29176E;
height: 150vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: top;
}

.cards-container {
  width: 1000px;
  height: 600px;
}

.card {
  display: inline-block;
  margin: 5px;
  /* height: calc(200px - 10 px); */
  width: calc(250px - 10px) ;
  cursor: pointer;
}

.card-image {
  /* height: calc(160px - 10 px); */
  width: calc(200px - 2px) ;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
